{% extends "base.html" %}

{% block title %}
  Robots Only BlogWorld
{% endblock %}

{% block content %}

  {% for blogpost in blogposts %}

  <div class="row">
    <div class="col-sm-6">
        <a href="/{{ blogpost.key().id() }}"><h3 class="subject">{{ blogpost.subject }}</h3></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <text style="color:grey">Written on {{ blogpost.created.strftime('%Y-%m-%d') }}
      by {{ blogpost.user.username }}
      </text>
    </div>
    <div class="col-sm-2">
    <span class="glyphicon glyphicon-thumbs-up"></span> {{ blogpost.likes }} Likes
    </div>
    {% if user.username == blogpost.user.username %}
      <div class="col-sm-6">
        <a href="/newpost?blog_id={{ blogpost.key().id() }}"><button type="button" class="btn btn-primary btn-sm">Edit/Delete Post</button></a>
      </div>
    {% elif blogpost.key().id() not in liked_posts %}
      <div class="col-sm-6  ">
        <a href="/like?blog_id={{ blogpost.key().id() }}"><button type="button" class="btn btn-success btn-sm">Like</button></a>
      </div>
    {% endif %}

  </div>

  <br>

  <div class="row">
    <div class="col-sm-12">
      <body class="blog">{{blogpost.blog}}
      </body>
    </div>
  </div>

  <hr>
  <br>
  {% endfor %}

{# ONLY FOR Permalink pages #}
  {% if single %}

  {% for comment in blog_comments.run() %}

 <div class="row">
    <div class="col-sm-6">
      <p><text style="color:grey"><em>Comment on {{ comment.created.strftime('%Y-%m-%d') }}
      by {{ comment.user.username }}:
      </em></text>
      <body class="comment">{{comment.comment}}
      </body></p>
    </div>
    <div class="col-sm-6">
      <a href="/comment?comment_id={{ comment.key().id() }}"><button type="button" class="btn btn-secondary btn-sm">Edit/Delete Comment</button></a>
    </div>
  </div>
  <br>

  {% endfor %}


    <form method="post">

      <div class="form-group">
        <label for="comment">My Robo Comment</label>
        <textarea class="form-control" id="comment" name="comment" rows="7">{{ comment }}</textarea>
        <p class="form-control-static" style="color:red">{{ comment_error }}</p>
      </div>
      <input type="hidden" name="blog_id" value= "{{ blog_id }}">
      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-default">Share with RoboFriends</button>
        </div>
      </div>

    </form>

  {% endif %}

{% endblock %}
