{% extends "base.html" %}

{% block title %}
  Edit Comment
{% endblock %}

{% block content %}

  <div class="container">

    <h1>Edit Comment</h1>
    <br><br>

    <form method="post">

    <input type="hidden" name="comment_id" value="{{ comment_id }}">

      <div class="form-group">
        <label for="content">Comment</label>
        <textarea class="form-control" id="content" name="content" rows="7">{{ content }}</textarea>
        <p class="form-control-static" style="color:red">{{ content_error }}</p>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" name="save" value="save" class="btn btn-default">Share with RoboFriends</button>
          <button type="submit" name="delete" value="delete"class="btn btn-warning">Delete Post</button>
        </div>
      </div>

    </form>

  </div>
{% endblock %}
