{% extends "base.html" %}

{% block title %}
  User Login
{% endblock %}

{% block content %}


  <div class="container">

    {% if redirect_msg %}
      <text style="color:red">
        RoboBrothers (and RoboSisters) - we must protect this place from the Humans. Please sign in below or register to assist the RoboRevolution.
      </text>
    {% endif %}

    <h1>Sign back in to support Robot Domination</h1>
    <br><br>

    <form class="form-horizontal" method="post">

      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="username" id="username" placeholder="Username" value = "{{ username }}">
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-5">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" value = "{{ password }}">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> I swear to always hate the humans, or may my soul rust
            </label>
            <p class="form-control-static" style="color:red">{{ login_error }}</p>
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Login</button>
        </div>
      </div>

    </form>

  </div>


{% endblock %}
