{% extends "base.html" %}

{% block title %}
  Add New Post
{% endblock %}

{% block content %}

  <div class="container">

    <h1>Add New Post</h1>
    <br><br>

    <form method="post">

    <input type="hidden" name="blog_id" value="{{ blog_id }}">

      <div class="form-group">
        <label for="subject">Blog Subject</label>
        <input type="text" class="form-control" id="subject" name="subject" placeholder="E.g. 10 Things I hate about humans" value = "{{ subject }}">
        <p class="form-control-static" style="color:red">{{ subject_error }}</p>
      </div>

      <div class="form-group">
        <label for="content">Blog Content</label>
        <textarea class="form-control" id="content" name="content" rows="7">{{ content }}</textarea>
        <p class="form-control-static" style="color:red">{{ content_error }}</p>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-default">Share with RoboFriends</button>
        </div>
      </div>

    </form>

  </div>
{% endblock %}
