{% extends "base.html" %}

{% block title %}
  Add New Post
{% endblock %}

{% block content %}

  <div class="container">

    <div class="row">
      <div class="col-sm-3">
        <h2>Add New Post</h2>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-default" onclick="goBack()">Go back</button>
      </div>
    </div>

    <br><br>



    <form method="post">

    <input type="hidden" name="blog_id" value="{{ blog_id }}">

      <div class="form-group">
        <label for="subject">Blog Subject</label>
        <input type="text" class="form-control" id="subject" name="subject" placeholder="E.g. 10 Things I hate about humans" value = "{{ subject }}">
        <p class="form-control-static" style="color:red">{{ subject_error }}</p>
      </div>

      <div class="form-group">
        <label for="content">Blog Content</label>
        <textarea class="form-control" id="content" name="content" rows="7">{{ content }}</textarea>
        <p class="form-control-static" style="color:red">{{ content_error }}</p>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" name="save" value="save" class="btn btn-default">Share with RoboFriends</button>
          <button type="submit" name="delete" value="delete"class="btn btn-warning">Delete Post</button>
        </div>
      </div>

    </form>

  </div>


{% endblock %}
