<!DOCTYPE html>
<html>
<head>
    <title>Unit 2 User Signup</title>
</head>

<body>
    <h1>Signup</h1>
    <form method="post">
        Username <input type= "text" name="username" value = "{{ username }}"> <text style="color:red"> {{ user_error }} </text>
        <br>
        Password <input type= "password" name="password" value = "{{ password }}"> <text style="color:red"> {{ password_error }} </text>
        <br>
        Verify Password <input type= "password" name="verify" value = "{{ verify }}"> <text style="color:red"> {{ verify_error }} </text>
        <br>
        Email (Optional) <input type= "text" name="email" value = "{{ email }}"> <text style="color:red"> {{ email_error }} </text>
        <br>
        <button>Submit  </button>
    </form>
</body>
</html>
